<section id="cart" class="section-p1" style="text-align: center;">
  {{!-- <h2>Users</h2> --}}
  <div class="search">
    <div class="input">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" id="userSearchInput">
    </div>
    <a class="search-btn user-search">Search</a>
  </div>
  <table>
    <thead>
      <tr>
        <td>Remove</td>
        <td></td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Edit</td>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td><a href="/delete-user?id={{this._id}}"><i class="fa-solid fa-circle-minus"></i></a></td>
        <td><img src="./images/people/2.png" style="width: 3rem;height:3rem;"></td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.email}}</td>
        <td><a href="/edit-user?id={{this._id}}"><i class="fa-solid fa-pen"
              style="color: rgb(255, 89, 0);font-size: 18px;"></i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>

<script>
  let userSearchBtn = document.querySelector(".user-search")
  let userSearchInput = document.querySelector("input#userSearchInput")

  userSearchBtn.addEventListener("click", () => {
     let searchText = userSearchInput.value
     userSearchBtn.href = `/user-search?text=${searchText}`
  })
</script>